<div class="col-md-4">
  <div class="card mb-4 shadow-lg" style="width: 18rem;">
    <img src="https://picsum.photos/200" class="card-img-top" alt="pic" />
    <div class="card-body">
      <h5 class="card-title">{{ userObj.firstName }} {{ userObj.lastName }} </h5>
      <ul class="list-group">

        <li class="list-group-item">Email: {{ userObj.email }}</li>
        <li class="list-group-item">Country: {{ userObj.country }}</li>
      </ul>
    </div>
    <div class="card-body">
      <!-- <button (click)="onClick(userObj)" class="btn btn-primary btn-sm">
            <a class="card-link">country-page</a>
          </button>
          <button (click)="addTrip(userObj)" class="btn btn-warning btn-sm ml-1">
            <a class="card-link">Add to MyTrips</a>
          </button> -->
    </div>
  </div>
</div>
